.post {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.post__vote-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 40px;
  padding-top: 8px;
}

.post__btn {
  align-items: center;
  border-radius: 4px;
  color: rgb(135, 138, 140);
  cursor: pointer;
  display: flex;
  font-family: ibm-bold;
  font-size: 12px;
  justify-content: center;
  line-height: 20px;
  margin: 0 2px;
  max-height: 20px;
  padding: 2px;

  &:hover {
    background-color: #e7e7e7;
  }
}

.post__arrow-up {
  font-size: 20px;

  &:hover {
    color: rgb(204, 55, 0);
  }
}

.post__arrow-up-active {
  color: rgb(204, 55, 0);
}

.post__arrow-down {
  font-size: 20px;

  &:hover {
    color: rgb(90, 117, 204);
  }
}

.post__arrow-down-active {
  color: rgb(90, 117, 204);
}

.post__points {
  color: rgb(26, 26, 27);
  font-family: ibm-bold;
  font-size: 12px;
}

.post__content-section {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  width: 100%;
}

.post__header {
  align-items: center;
  color: rgb(120, 124, 126);
  display: flex;
  font-family: ibm-medium;
  font-size: 12px;
  margin: 0 8px;
}

.post__logo {
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-right: 4px;
  width: 20px;
}

.post__community-name {
  color: rgb(26, 26, 26);
  font-family: ibm-bold;
  margin-right: 3px;
}

.post__underline-on-hover {
  margin-left: 3px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.post__join {
  background-color: rgb(0, 121, 211);
  color: #fff;
  float: right;
  margin-left: auto;
  min-height: 24px;
  padding: 0 8px;

  &:hover {
    background-color: rgb(127, 188, 233);
  }
}

.post__title {
  font-family: ibm-regular;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 8px;
}

.post__text {
  font-family: ibm-regular;
  font-size: 14px;
  margin-top: 8px;
}

.post__image-container {
  display: flex;
  justify-content: center;
}

.post__image {
  cursor: pointer;
  max-height: 512px;
  max-width: 100%;
  object-fit: contain;
}

.post__btn-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 32px;
  padding: 0 4px;
}
